
@import url('import-wallet.component.common.css');

.mnemonicTextField {
    width:46%;
    margin: 10pt 2% 10pt 2%;
    color:black;
    background-color: white;
    border-radius: 5pt;
    height: 60pt;
}