<StackLayout style="margin: 5%;">
    <Label text="Wallet Name" textWrap="true"></Label>
    <TextField hint="Enter Wallet Name." ></TextField>
    <Label text="Wallet Password" textWrap="true"></Label>
    <TextField hint="Enter your password."  secure="true"></TextField>
    <Label text="Confirm Wallet Password" textWrap="true"></Label>
    <TextField hint="Re-enter your password."  secure="true"></TextField>

    <button class="exchangilyBtn" (tap)="createNewWalletClicked()" text="Create New Wallet">

    </button>
    

   
</StackLayout>

