<AbsoluteLayout width=100% height=100%>

    <StackLayout class="top-section" top=0% left=0% width=100% height=25%>
    </StackLayout>
    <StackLayout class="middle-section" marginLeft=10% marginTop=12.5% width=80% height=25%>
        <StackLayout orientation="horizontal">
            <label width=50% text="My Total Balance"></label>
            <StackLayout width=50%>
                <Label text="EXG 1294721.29" textWrap="true"></Label>
                <Label text="=51029872 USD" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout height=2pt style="background-color: lightgray;" width=90%>
        </StackLayout>
        <StackLayout orientation="horizontal" marginTop=10pt>
            <StackLayout width=33%>
                <Label class="font-awesome iconBtn" horizontalAlignment="center" text="&#xf019;"
                    textWrap="true"></Label>
                <Label horizontalAlignment="center" style="color:orange;" text="Receive" textWrap="true"></Label>
            </StackLayout>
            <StackLayout width=33%>
                <Label class="font-awesome iconBtn" horizontalAlignment="center" text="&#xf1d8;"
                    textWrap="true"></Label>
                <Label horizontalAlignment="center" text="Send" style="color:orange;" textWrap="true"></Label>
            </StackLayout>
            <StackLayout width=33%>
                <Label class="font-awesome iconBtn" horizontalAlignment="center" text="&#xf021;"
                    textWrap="true"></Label>
                <Label horizontalAlignment="center" text="Exchange" style="color:orange;" textWrap="true"></Label>
            </StackLayout>
            <Label text="Receive" VerticalAlignment="center" textWrap="true" width=33%></Label>
            <Label text="Send" textWrap="true" width=33%></Label>
            <Label text="exchange" textWrap="true" width=33%></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout class="bottom-section" marginTop=25% left=0% width=100% height=75%>

        <GridLayout rows="*" columns="*, *" marginTop=17% height=20pt>
            <StackLayout orientation=horizontal row="0" col="0">
                <Label text="MY Assets" style="font-weight: bold;"></Label>
                <Label class="font-awesome" text="&#xf021;" textWrap="true"></Label>
            </StackLayout>
            <Label class="font-awesome"  text="&#xf067;" style="text-align:right; margin-right:20pt;" row="0" col="1"></Label>
        </GridLayout>
        <StackLayout height=2pt marginTop=10pt style="background-color: lightgray;" width=95%>
            </StackLayout>
        <StackLayout orientation="horizontal" marginTop=-10>
            <Switch [checked]=""  class="switch"></Switch>
        <Label text="Hide Small Amount Assets" marginTop=17 marginLeft=-15 textWrap="true"></Label>
        </StackLayout>

        <ScrollView>

        </ScrollView>
    </StackLayout>
</AbsoluteLayout>