<StackLayout>

    <Label  style="color: orangered; margin:5%; width:90%; font-size:18px;" text="{{warning}}" textWrap="true">
    </Label>


<StackLayout style="margin: 5%; background-color: rgb(245,245,245);">
    <StackLayout orientation="horizontal" width="100%">
        <Label text="1. {{mnemonics[0]}}" textWrap="true"></Label>
        <Label text="2. {{mnemonics[1]}}" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%">
        <Label text="3. {{mnemonics[2]}}" textWrap="true"></Label>
        <Label text="4. {{mnemonics[3]}}" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%">
        <Label text="5. {{mnemonics[4]}}" textWrap="true"></Label>
        <Label text="6. {{mnemonics[5]}}" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%">
        <Label text="7. {{mnemonics[6]}}" textWrap="true"></Label>
        <Label text="8. {{mnemonics[7]}}" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%">
        <Label text="9. {{mnemonics[8]}}" textWrap="true"></Label>
        <Label text="10. {{mnemonics[9]}}" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" width="100%">
        <Label text="11. {{mnemonics[10]}}" textWrap="true"></Label>
        <Label text="12. {{mnemonics[11]}}" textWrap="true"></Label>
    </StackLayout>
    
</StackLayout>

<Button style="margin:5%;" class="exchangilyBtn" (tap)="nextClicked()" text="Next"></Button>

</StackLayout>