<AbsoluteLayout width=100%>

    <StackLayout class="top-section" top=0% left=0% width=100% height=25%>
        <Button class="font-awesome" style="background-color: transparent; font-size:30;" width=50 height=50 horizontalAlignment=right marginRight=15 marginTop=15 text="&#xf0ca;" [nsRouterLink]="['/transaction-history']" ></Button>
        
        
    </StackLayout>
    <StackLayout class="middle-section" marginLeft=10% marginTop=12.5% width=80% height=25%>
        <StackLayout orientation="horizontal">
            <label width=50% text="My Total Balance"></label>
            <StackLayout width=50%>
                <Label text="EXG 1294721.29" textWrap="true"></Label>
                <Label text="=51029872 USD" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout height=2pt style="background-color: lightgray;" width=90%>
        </StackLayout>
        <StackLayout orientation="horizontal" marginTop=10pt>
            <StackLayout width=33%>
                <Label class="font-awesome iconBtn" horizontalAlignment="center" text="&#xf019;"
                    textWrap="true"></Label>
                <Label horizontalAlignment="center" style="color:orange;" text="Receive" textWrap="true"></Label>
            </StackLayout>
            <StackLayout width=33% [nsRouterLink]="['/send']">
                <Label class="font-awesome iconBtn" horizontalAlignment="center" text="&#xf1d8;"
                    textWrap="true"></Label>
                <Label horizontalAlignment="center" text="Send" style="color:orange;" textWrap="true"></Label>
            </StackLayout>
            <StackLayout width=33%>
                <Label class="font-awesome iconBtn" horizontalAlignment="center" text="&#xf021;"
                    textWrap="true"></Label>
                <Label horizontalAlignment="center" text="Exchange" style="color:orange;" textWrap="true"></Label>
            </StackLayout>
            <Label text="Receive" VerticalAlignment="center" textWrap="true" width=33%></Label>
            <Label text="Send" textWrap="true" width=33%></Label>
            <Label text="exchange" textWrap="true" width=33%></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout class="bottom-section" marginTop=25% left=0% width=100% height=75%>

        <GridLayout rows="*" columns="*, *" marginTop=17% height=20pt>
            <StackLayout orientation=horizontal row="0" col="0">
                <Label text="MY Assets" style="font-weight: bold;"></Label>
                <Label class="font-awesome" text="&#xf021;" textWrap="true"></Label>
            </StackLayout>
            <Label class="font-awesome" text="&#xf067;" style="text-align:right; margin-right:20pt;" row="0"
                col="1"></Label>
        </GridLayout>
        <StackLayout height=2pt marginTop=10pt style="background-color: lightgray;" width=95%>
        </StackLayout>
        <StackLayout orientation="horizontal" marginTop=-10>
            <Switch [checked]="" class="switch"></Switch>
            <Label text="Hide Small Amount Assets" marginTop=17 marginLeft=-15 textWrap="true"></Label>
        </StackLayout>





        <ScrollView height=50%>
            <StackLayout>
                <GridLayout *ngFor="let coin of coinList" rows="auto, auto, auto" columns="*, *, *"
                    style="background:white;" marginLeft=10 marginRight=10 marginTop=10>
                    <Label text={{coin.name}} style="font-weight: bold;" row="0" col="0"></Label>
                    <Label text="" row="0" col="1"></Label>
                    <Label text="" row="0" col="2"></Label>
                    <Label text="Available" style="color:gray; font-size:12;" row="1" col="0"></Label>
                    <Label text="Frozen" style="color:gray; font-size:12;" row="1" col="1"></Label>
                    <Label text="Value (USD)" style="color:gray; font-size:12;" row="1" col="2"></Label>
                    <Label text={{coin.available}} row="2" col="0"></Label>
                    <Label text={{coin.frozen}} row="2" col="1"></Label>
                    <Label text={{coin.value}} row="2" col="2"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>

    </StackLayout>

    <StackLayout orientation="horizontal" marginTop=90% width=100% height=10% style="background:white;">
        <StackLayout width="25%" style="color: orange;">
            <Label style="text-align: center; margin-top:25%; color: orange; " class="font-awesome" text="&#xf1ee; "
                textWrap="true"></Label>
            <Label style="text-align: center; color: orange; " text="Wallet" textWrap="true"></Label>
        </StackLayout>
        <StackLayout width="25%">
            <Label style="text-align: center; margin-top:25%; " class="font-awesome" text="&#xf080; "
                textWrap="true"></Label>
            <Label style="text-align: center;" text="Market" textWrap="true"></Label>
        </StackLayout>
        <StackLayout width="25%">
            <Label style="text-align: center; margin-top:25%; " class="font-awesome" text="&#xf021;"
                textWrap="true"></Label>
            <Label style="text-align: center; " text="trade" textWrap="true"></Label>
        </StackLayout>
        <StackLayout width="25%">
            <Label style="text-align: center; margin-top:25%; " class="font-awesome" text="&#xf013; "
                textWrap="true"></Label>
            <Label style="text-align: center; " text="Settings" textWrap="true"></Label>
        </StackLayout>
        <!-- <Button style="background: white;" width="25%" class="font-awesome" text="&#xf080; &#13;  Market" ></Button>
        <Button style="background: white;" width="25%" class="font-awesome" text="&#xf021; &#13; Trade" ></Button>
        <Button style="background: white;" width="25%" class="font-awesome" text="&#xf013; &#13;  Settings" ></Button> -->
    </StackLayout>
</AbsoluteLayout>