<FlexboxLayout alignItems="stretch" flexDirection="column-reverse" style="margin:1%">
    
    <button style="border-radius:10%; margin:5px; color:white; background-color:gray;" text="Import Wallet" [nsRouterLink]="['/import-wallet']" >

    </button>
    <button style="border-radius: 10%; margin:5px; color:white; background: linear-gradient(90deg, rgba(106,8,216,1) 0%, rgba(249,170,15,1) 100%);" text="Create Wallet" [nsRouterLink]="['/create-wallet']" routerLinkActive="router-link-active" >

    </button>
    <label text="Decentralized Digital Asset Exchange" style="color:black; font-size:18px; text-align:center; margin-bottom:40%;"></label>
    <Image src="~/app/images/exchangily_logo.png" style="width:80%;"></Image>
</FlexboxLayout>
