<StackLayout style="background-color: rgb(235,235,235);" height="100%">
    

<StackLayout style="margin:5%;" >
    <Label text="{{verifyMnemonicsMessage}}" textWrap="true"></Label>
    <StackLayout  orientation="horizontal">
        <TextField hint="word 1"></TextField>
        <TextField hint="word 2"></TextField>
    </StackLayout>
    <StackLayout  orientation="horizontal">
        <TextField hint="word 3"></TextField>
        <TextField hint="word 4"></TextField>
    </StackLayout>
    <StackLayout  orientation="horizontal">
        <TextField hint="word 5"></TextField>
        <TextField hint="word 6"></TextField>
    </StackLayout>
    <StackLayout  orientation="horizontal">
        <TextField hint="word 7"></TextField>
        <TextField hint="word 8"></TextField>
    </StackLayout>
    <StackLayout  orientation="horizontal">
        <TextField hint="word 9"></TextField>
        <TextField hint="word 10"></TextField>
    </StackLayout>
    <StackLayout  orientation="horizontal">
        <TextField hint="word 11"></TextField>
        <TextField hint="word 12"></TextField>
    </StackLayout>
    <button style="margin-top:20px;" class="exchangilyBtn" text="Finish Wallet setup"></button>
</StackLayout>


</StackLayout>