/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.exchangilyBtn {
    border-radius: 10pt; 
    margin:5pt; 
    color:white; 
    background: linear-gradient(90deg, rgba(106,8,216,1) 0%, rgba(249,170,15,1) 100%);
}

.font-awesome {
        
    src:url("fonts/fa-solid-900.ttf");
    font-family: FontAwesome, fontawesome-webfont ;
    
}